atomicwrites==1.4.0
Babel==2.15.0
beniget==0.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==2.2.1
courlan==1.1.0
Cython==0.29.36
dask==2022.7.0
dateparser==1.2.0
exceptiongroup==1.1.2
fasttext @ git+https://github.com/facebookresearch/fastText@1142dc4c4ecbc19cc16eee5cdd28472e689267e6
fire==0.6.0
fsspec==2023.6.0
gast==0.5.4
htmldate==1.8.1
importlib-metadata==6.8.0
iniconfig==2.0.0
jusText==3.0.0
locket==1.0.0
lxml==5.1.1
lxml_html_clean==0.1.0
mpi4py==3.1.4
numpy==1.23.5
packaging==23.1
pandas==1.5.3
partd==1.4.0
pip==22.3.1
pluggy==1.2.0
ply==3.11
py==1.11.0
pybind11==2.11.1
pyparsing==3.1.1
pytest==7.4.0
python-dateutil==2.8.2
pythran==0.13.1
pytz==2023.3
PyYAML==6.0.1
regex==2024.4.28
SciPy==1.10.0
setuptools==65.5.0
setuptools-scm==7.1.0
six==1.16.0
termcolor==2.4.0
tld==0.13
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
trafilatura==1.8.0
typing_extensions==4.7.1
tzlocal==5.2
ujson==5.4.0
urllib3==2.2.1
-e git+https://github.com/hplt-project/warc2text-runner.git@169cf56fc7f2ba96a52bf8cb9fe43fc13dc2e42e#egg=warc2text_runner
wcwidth==0.2.6
zipp==3.16.2
zstandard==0.22.0
